@import url("https://fonts.googleapis.com/css2?family=Bona+Nova:ital,wght@0,400;0,700;1,400&display=swap");

@media only screen and (min-width: 600px) {
  .App {
    text-align: center;
    background-color: white;
    display: grid;
    grid-template-columns: 3 (33%);
    grid-template-rows: min-content min-content auto;
    grid-template-areas: "user header heading" "nav nav nav" "firstarticle firstarticle content";
    min-height: 100vh;

    font-family: Georgia;
    margin: 0;
  }

  #Heading {
    grid-area: heading;
  }

  .User {
    font-family: Arial, Helvetica, sans-serif;
  }

  .Header {
    display: flex;
    justify-content: space-between;
  }

  .Header a h1 {
    padding-right: 10% !important;
    font-size: 3em !important;
    line-height: 0.7em !important;
  }

  .Articles {
    color: black;
    grid-area: content;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  .Articles .Articles__card {
    min-height: 120px;
    width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    border-top: rgb(199, 19, 19) 1.5px solid;
    margin: 0.7em;
    padding: 5px;
    background-color: rgba(218, 216, 216, 0.4);
    text-align: left;
  }

  .Article .Articles__card {
    min-height: 120px;
    height: min-content;

    border-top: rgb(199, 19, 19) 1.5px solid;
    margin: 0.7em;
    padding: 5px;
    background-color: rgba(218, 216, 216, 0.4);
    text-align: left;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }

  .Articles {
    width: 95%;
    margin: auto;
  }

  .Articles .Articles__card img {
    width: 40%;
    object-fit: contain;
    position: relative;
    align-self: flex-start;
  }

  .Article .Articles__card img {
    width: 40%;
    object-fit: contain;
    position: relative;
    align-self: flex-start;
  }

  .Articles .Articles__card--first {
    grid-area: firstarticle;
    margin: auto;
    min-height: 200px;
    max-width: 1325px;
    width: 97%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    border-top: rgb(199, 19, 19) 1.5px solid;
    margin: 0.7em;
    padding: 5px;
    background-color: rgba(218, 216, 216, 0.4);
    text-align: left;
  }

  .Articles .Articles__card--first img {
    width: 50%;
    object-fit: contain;
    position: relative;
    align-self: flex-start;
  }

  .Article {
    width: 60%;
    margin: auto;
    border-left: 0.25px rgba(108, 116, 145, 0.4) solid;
    border-right: 0.25px rgba(108, 116, 145, 0.4) solid;
  }

  .Article h1 {
    margin: 0 17px;
    text-align: left;
    font-weight: 700;
    letter-spacing: -0.5px;
  }
  .Article h2 {
    margin-left: 17px;
    margin-right: 17px;
    text-align: left;
    font-weight: 700;
    letter-spacing: -1px;
  }

  .Article h3 {
    display: inline-block;
    font-weight: bold;
    color: rgb(199, 19, 19);
    text-transform: capitalize;
    text-align: left;
  }

  .Article h3 span {
    font-style: italic;
    font-weight: 700;
  }

  .Article h3 span a {
    display: inline-block;
    font-weight: 400;
    color: rgb(199, 19, 19);
    text-transform: capitalize;
    text-align: left;
    font-style: normal;
  }

  .Article p {
    text-align: left;
    margin-left: 17px;
    margin-right: 17px;
    letter-spacing: 0.25px;
  }

  .Article img {
    width: 80%;
  }
}

.App {
  text-align: center;
  background-color: white;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: min-content min-content auto;
  grid-template-areas: "header" "nav" "content";
  min-height: 100vh;
  font-family: Georgia;
  margin: 0;
}

.Header {
  background-color: #052962;
  color: white;
  font-weight: bolder;
  font-family: "Bona Nova", serif;
  font-size: 1.2em;
  line-height: 1.2em;
}
.Header h1 {
  text-align: right;
  margin-right: 10%;
}

.Nav {
  background-color: #052962;
  color: white;
  font-weight: bold;
  font-family: "Bona Nova", serif;
  font-size: 1.2em;
  text-align: left;
  border: 0.25px rgb(108, 116, 145) solid;
}

.Nav a {
  color: white;
  margin: 0;
}

.Nav__element {
  border-left: 0.25px rgb(108, 116, 145) solid;

  display: inline-block;
  text-transform: capitalize;
  padding: 5px 10px;
}

.Articles {
  color: black;
}
.Articles__card {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  height: min-content;

  border-top: rgb(199, 19, 19) 1.5px solid;
  margin: 0.7em;
  padding: 5px;
  background-color: rgba(218, 216, 216, 0.4);
  text-align: left;
}

.Article .Articles__card {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  height: min-content;
  border-top: rgb(199, 19, 19) 1.5px solid;
  margin: 0.7em;
  padding: 5px;
  background-color: rgba(218, 216, 216, 0.4);
  text-align: left;
}

.Articles .Articles__card--first {
  min-height: 140px;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  border-top: rgb(199, 19, 19) 1.5px solid;
  margin: 0.7em;
  padding: 5px 0 5px 0;
  background-color: rgba(218, 216, 216, 0.4);
  text-align: left;
}

.Articles__card p,
.Articles__card--first p {
  margin: 0;
  line-height: 1.1em;
  font-style: italic;
  font-size: 0.8em;
  color: rgba(90, 88, 88, 0.665);
  margin: 0px 3px 0px 5px;
}

.Articles .Articles__card--first img {
  min-height: 170px;
  width: 40%;
  object-fit: cover;
  position: relative;
  align-self: flex-start;
}

.Articles__topic {
  display: inline-block;
  font-weight: bold;
  color: rgb(199, 19, 19);
  text-transform: capitalize;
  text-align: left;
}

.Articles h2 {
  display: block;
  text-transform: capitalize;
  margin: 3px 12px 0px;
  text-align: left;
  font-weight: 700;
  letter-spacing: -1px;
}

.Articles img {
  width: 32%;
  object-fit: contain;
  position: relative;
  align-self: flex-start;
}

.Articles__card img.Articles__img {
  width: 33%;
  object-fit: contain;
}

.Article {
  font-family: Georgia, serif;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.Article img {
  width: 100%;
  max-height: 300px;
  object-fit: cover;
  position: relative;
  margin: auto;
  align-self: flex-start;
}

.Article h1 {
  margin: 0 7px;
  text-align: left;
  font-weight: 700;
  letter-spacing: -0.5px;
}
.Article h2 {
  margin-left: 7px;
  margin-right: 7px;
  text-align: left;
  font-weight: 700;
  letter-spacing: -1px;
}

.Article h3 {
  display: inline-block;
  font-weight: bold;
  color: rgb(199, 19, 19);
  text-transform: capitalize;
  text-align: left;
}

.Article h3 span {
  font-style: italic;
  font-weight: 700;
}

.Article h3 span a {
  display: inline-block;
  font-weight: 400;
  color: rgb(199, 19, 19);
  text-transform: capitalize;
  text-align: left;
  font-style: normal;
}
.Article p {
  text-align: left;
  margin-left: 7px;
  margin-right: 7px;
  letter-spacing: 0.25px;
}

.Article__info {
  margin: 0;
  font-weight: 700;
  font-size: 0.9em;
  color: rgba(90, 88, 88, 0.87);
  margin: 0px 3px 0px 5px;
}

.Comments__card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: min-content;

  border-top: rgba(218, 216, 216, 0.6) 1px solid;
  margin: 0.4em;
  padding: 5px;
  background-color: rgba(218, 216, 216, 0.1);
  text-align: left;
}

.Comments__card p {
  margin: 0;
  line-height: 1.1em;
  font-style: italic;
  font-size: 0.8em;
  color: rgba(90, 88, 88, 0.665);
  margin: 0px 3px 10px 5px;
}

.Comments__button {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: none;
  background-color: #052962;
  color: white;
  font-size: 2.2em;
  padding: 0px;
  float: left;
  margin-left: 7px;
}
.Comments__post-button {
  height: 32px;
  width: 160px;
  border-radius: 20px;
  border: none;
  background-color: #052962;
  color: white;
  font-size: 0.9em;
  padding: 0px;
  float: left;
  margin: 0px 17px 20px 3%;
  font-weight: bold;
}
.Comments__post-button:disabled {
  background-color: rgba(90, 88, 88, 0.665);
}

.Error {
  background-color: #052962;
  color: white;
  font-weight: bold;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1.4em;
  text-align: left;
}

.Error__button {
  height: 50px;
  max-width: 465px;
  border-radius: 25px;
  border: none;
  color: #052962;
  background-color: white;
  font-size: 1em;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  padding: 7px;
  float: left;
  margin-left: 7px;
}

.line {
  height: 3px;
  border-bottom: 0.25px solid rgba(90, 88, 88, 0.3);
}

.Vote {
  display: inline;
  width: 35px;
  height: 35px;
  color: #052962;
  background-color: white;
  font-size: 1.5em;
  margin: 3px;
  border: none;
}

.Vote:disabled {
  color: rgba(90, 88, 88, 0.5);
}

a {
  text-decoration: none;
  color: black;
}
li {
  list-style-type: none;
}

h3 {
  margin: 0px 3px 5px 5px;
}

textarea {
  width: 92%;
  border: 0.25px solid rgba(90, 88, 88, 0.3);
  margin: 20px 2.5% 7px;
}

select {
  margin: 0px 2px 3px 7px;
}

:placeholder-shown {
  font-weight: 700;
}
